*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;

}

body{
    background-color: #22212C;
    max-width: fit-content;
}

.container-wrap {
    display: flex;
    padding: 50px;   
    align-items: flex-start; 
    justify-content: center;
}

#coluna1{
    display: flex;
    flex-flow: column wrap;
    margin-left: 5%;
    padding: 15px;
}

#coluna2{
    display: flex;
    flex-flow:wrap;
    padding: 15px;
    max-width: 100vh;

}

.profile {
    color: #837E9F;
    background-color: #302F3D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-items: center;
}

.profile h2{
    margin-bottom: 5px;
}

.profile p{
    margin-bottom: 8px;
}

.avatar {
    margin-top: 12%;
    
}
.avatar img{
    width: 150px;
    height: auto;
    border: solid;
    border-width: 2px;
    border-color:  #00FF00;
    border-radius: 50%;
}

.infos {
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    color: #837E9F;
    background-color: #302F3D;
    border-radius: 20px;
    width: 260px;

}

.content{
    margin-bottom: 14px;
    display: flex;
    margin-left: 18px;
}

.content-tech {
    margin-bottom: 10px;
    margin-left: 5px;
    align-items: left;
}


i{
    height: 15px;
    width: 15px;
    margin-right: 15px;
}

.techs {
    border-radius: 20px;
    margin-top: 2%;
    margin-top: 20px;
    padding: 25px;
    color: #837E9F;
    background-color: #302F3D;
    max-width: 260px;
}

.projects{
    color: #837E9F;
    background-color: #302F3D;
    border-radius: 20px;
    display: flex;
    width: 100vh;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

}

.project01 {
    color: #837E9F;
    background-color: #302F3D;
    border-radius: 20px;
    max-width: 430px;
    padding: 20px;
    margin-top: 15px;
}

.project02 {
    color: #837E9F;
    background-color: #302F3D;
    border-radius: 20px;
    max-width: 430px;
    padding: 20px;
    margin-top: 15px;
    margin-left: 12px;
}

.project01 p {
    text-align: justify;

}

.title{
    display: flex;
    margin-bottom: 18px;
}

.interactions{
    display: flex;
    margin-top: 25px;
}

